body {
  background: black;
  color: white;
  font-family: Menlo, Courier, monospace;
  padding: 20px;
  image-rendering: pixelated;
}

p {
  margin-top: 32px;
}

@keyframes flash {
  from,
  30% {
    opacity: 1;
  }

  15% {
    opacity: 0;
  }
}

.flash {
  animation-name: flash;
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.animated.infinite {
  animation-iteration-count: infinite;
}

.map {
  display: flex;
  flex-direction: row;

  & > .server {
    margin-left: 4ch;
  }
}

.server {
  text-align: center;
  width: fit-content;

  p {
    margin: 0;
  }

  .sprite {
    margin: 0 auto;
    margin-bottom: 1ch;
  }

  .statusCode {
    padding-right: 2ch;
  }
}
