$hover-color: #223;
$selected-color: #224;

body {
  background: black;
  color: white;
  font-family: Menlo, Courier, monospace;
  padding: 20px;
  image-rendering: pixelated;
}

p {
  margin-top: 32px;
}

@keyframes flash {
  from,
  30% {
    opacity: 1;
  }

  15% {
    opacity: 0;
  }
}

.flash {
  animation-name: flash;
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.animated.infinite {
  animation-iteration-count: infinite;
}

.map {
  display: flex;
  flex-direction: row;

  & > .server {
    margin-left: 4ch;
  }
}

.server {
  text-align: center;
  width: fit-content;
  cursor: pointer;
  padding: 1ch;

  p {
    margin: 0;
  }

  .sprite {
    margin: 0 auto;
    margin-bottom: 1ch;
  }

  .statusCode {
    padding-right: 2ch;
  }

  &:hover {
    background-color: $hover-color;
  }
}

.grid {
  & > * {
    border: 2px dashed white;
    padding: 8px;
  }

  margin-bottom: 4ch;

  .selected {
    border: 4px solid yellow;
    z-index: 1;
    padding: 6px;
  }
}

.unit-info {
  width: fit-content;

  p {
    margin: 0;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    padding: 0.5ch 1ch;
    cursor: pointer;
  }

  li:hover {
    // width: fit-content;
    background-color: $hover-color;
  }

  .selected {
    background-color: $selected-color;
  }
}
